.MainComponent{
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 15%;
    position: absolute;
}

.Clicker {
    height: 25%;
    text-align: center;
    position: relative;
}

.Clicker img {
    width: 45%;
    transition: 0.5s all;
    position: relative
}

.Energy {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    color: white;
    margin-top: 25%;
    display:flex;
}

.energyBar {
    width: 70%;
    accent-color: #F9C43C;
    margin-top: 2%;
}

label {
    margin-right: 7%;
    width: 20%;
    display: flex;
}

label > span {
    font-size: 20px;
    font-weight: 600;
}

.Score {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    margin-bottom: 25%;
    font-size: 26px;
}

.Leadersboard {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    color: white;
}

.Place {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
}

.End {
    color: #B1B0B5;
}

.Clicked {
    width: 43%!important;
    transition: 0.5s all;
}

.clickCounter {
    position: absolute;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 600;
    pointer-events: none;
    animation: fadeInOut 1s ease-in-out forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-130px);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-130px);
    }
}