html, body {
    overflow: hidden;
}

.rewardsHeader {
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

.Rewards {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #2C2D41;
    width: 80%;
    padding: 0 30px;
    border-radius: 10px;
    margin-top: 10px;
}

.Place {
    color: #9395A2;
    width: 100%;
}

.Reward {
    color: white;
    font-weight: 600;
}
